<body class="bg-login printable layout-device layout-tablet" >

  <div class="login-screen">
    <div class="panel-login ">
        <div  class="panel-body active">
            <h2 style="margin-top: 15px;">Sign up</h2>
            <% if @user.errors.full_messages.any? %>
             <% @user.errors.full_messages.each do |error_message| %>
              <div style="color: #db3530;"><%= error_message if @user.errors.full_messages.first == error_message %></div>
              <% end %>
            <% end %>

            <%= form_for(@user, as: resource_name, url: registration_path(@user)  , :html => {:id =>"Form", class: 'form-horizontal parsley-validate-icon'}) do |f| %>

                  <div class=" form-group input-wrapper">
                      <%= f.email_field :email, autofocus: true ,:placeholder => "Enter Your Email" , class: 'form-control' ,:style => 'color:white;padding-left:10px;' , required:true%>
                  </div>

                  <div class="field input-wrapper">
                      <%= f.password_field :password, autocomplete: "off", :placeholder => "Enter Your Password" , class: 'form-control', :style => 'color:white;padding-left:10px;', required:true%>
                  </div>
               <br>
                  <div class="field input-wrapper">
                     <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Password Confirmation" , class: 'form-control', :style => 'color:white;padding-left:10px;', required:true %>
                  </div>
               <br>
                   <div class="field input-wrapper">
                      <div class="fileinput fileinput-new" data-provides="fileinput">
                  <span class="btn btn-default btn-file" style="border: 1px solid #ffffff">
                    <span class="fileinput-new" style="color: white;text-align: center;">Select Image</span>
                    <span class="fileinput-exists" style="color: white;">Change</span>
                    <%= f.file_field :photo , class: 'form-control', :style => 'color:white;'  %>
                  </span>
                  <span class="fileinput-filename" style="color: white;width: 150px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></span>
                  <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none; color: white;opacity: 1;">&times;</a>
                </div>

                   </div>
                   <br>
                  <div class="actions" style="text-align: center;">
                    <span><%= f.submit "Sign up" , :style => 'background-color:#db3530;border-width:0px;width: 98px;color : white;' ,class: 'btn btn-ripple ' %></span>
                   </div>
            <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
     <div class="bg-blur dark">
    <div class="overlay"></div><!--.overlay-->
  </div><!--.bg-blur-->

  <svg version="1.1" xmlns='http://www.w3.org/2000/svg'>
    <filter id='blur'>
      <feGaussianBlur stdDeviation='7' />
    </filter>
  </svg>
  </div>
 
<script>
  $(document).ready(function () {
    Pleasure.init();
    Layout.init();
    FormsValidationsParsley.init();
  });
  </script>
